.Logo {
    width: 100%;
    cursor: pointer;
    .LogoImg {
        object-fit: contain;
        max-width: 100%;
        padding: 1rem;
    }
}

.Menu {
    position: absolute;
    width: 100%;
    bottom: 0%;
}

.Greeting {
    text-align: center;
    color: white;
    border-top: 1px solid white;
    padding-top: 1rem;
    font-weight: 200;
}